.vscode/
assets/computer/keyword.ppn
assets/libpv_porcupine.so
assets/porcupine-module.pv
assets/match.oga
assets/no-match.oga
assets/alarm-clock-elapsed.oga

# Meson build directory
/build/
# Build output directories
/out/
/debian/out/
# Place for assorted temporary files
/tmp/

# macOS Finder artifact
.DS_Store

# IDK where this comes from, appears when using VSCode dev containers
null.d
