.vscode/
assets/*
!assets/.gitkeep
!assets/bling.oga
!assets/diiing.oga
!assets/err-erra.oga
!assets/magic.oga
!assets/news-intro.oga
!assets/ca-certificates.crt
# Meson build directory
/build/
# Build output directories
/out/
/debian/out/
# Place for assorted temporary files
/tmp/

# macOS Finder artifact
.DS_Store

# IDK where this comes from, appears when using VSCode dev containers 
null.d
