# !!! ATTENTION you need run like `pip install -r ./requirements.txt`... in
# !!! other words, from THIS DIRECTORY!

# -e ../../../nrser/clavier
-e .

# Building and publishing
# setuptools
# wheel
# twine

# VSCode / formatting stuff
black==20.8b1 # No idea how this versioning crap works
pylint>=2.6.0,<3.0
rope>=0.18.0,<0.19
mypy>=0.8

# # Doc generation
# sphinx>=3.5.2,<4
# # Guess this is supposed to get us Markdown
# # myst-parser>=0.13.5,<2
# # recommonmark>=0.7.1
# commonmark>=0.9.1
# # Read The Docs theme, which hopefully doesn't look so terrible
# sphinx-rtd-theme>=0.5.1
